*{
    font-size: 20px;


}

body {
   background: rgb(120,65,72);
    background: radial-gradient(circle, rgba(120,65,72,1) 0%, rgba(30,31,46,1) 90%);
}

.logo_1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img{
    width: 120px;
    border-radius: 20%;
    border: 5px solid rgb(221, 143, 54);
    padding: 15px;
    margin: 15px;

 }

 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 143, 54);;
 }

 .caja_1{
    margin: 7px;
    padding-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .caja_2{
   color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .caja_2 label{
   margin: 4px;
 }

.boton_ingres{
   margin: 4px;
   background-color: rgb(177, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
 }

